body {
  position: relative;
  width: 100%;
  color: #424242;
  text-align: center;
  margin: 0; }

.custom-back {
  width: 100%;
  background: url("/images/semuc.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -999; }

.page-flexbox-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7); }

main {
  height: 70vh;
  width: 90vw !important; }

.headings {
  font-family: arial, sans-serif;
  color: #eeeeee; }

a {
  color: darkblue; }

.page-footer {
  background-color: #c4c4c4; }

footer {
  flex-direction: row;
  align-content: space-around;
  height: 7%;
  display: absolute; }
  footer ul li {
    display: inline-block;
    margin: 0 3%; }

.icon {
  height: 30px;
  width: 30px;
  margin-right: 5px; }

.menu-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 5%; }

.menu-icon:hover {
  zoom: 110%;
  box-shadow: 0 0 12px #eeeeee;
  border-radius: 100%; }

.menu-ul {
  flex: .15 .15 auto;
  flex-direction: column;
  width: 15%; }

.menu-container {
  position: fixed;
  margin-left: 85%; }

.menu-label {
  height: 100%;
  font-weight: bold; }

.bio-div {
  flex-direction: row; }
  .bio-div img {
    max-height: 125px;
    max-width: auto;
    border-radius: 100%;
    margin: 1% 2%; }

.bigname {
  color: #eeeeee;
  font-family: 'Permanent Marker', sans-serif;
  width: 40%;
  margin-left: -10%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1d2315; }

.tech-container {
  flex-direction: row; }

.tech-card img {
  height: 50px;
  width: 50px; }

.project-wrapper {
  display: absolute; }

.project-card {
  padding: 5%; }

.project-card img {
  border: 1px solid black;
  height: 100px;
  width: 100px; }

main.ng-enter {
  transition: 0.2s linear all;
  opacity: 0; }

main.ng-enter.ng-enter-active {
  opacity: 1; }
