@import "fonts";
@import "colors";

body {
	width: 100%;
	background-color: $white;
	background: url("/images/stripeback3.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $darkgray;
	text-align: center;
	margin: 0;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

nav {
	height: 7%;
	padding-left: 5%;
	border: none;
}

.headings {
	font-family: arial, sans-serif;
	color: $white;
}

.page-footer {
	background-color: $silver;
}

.footer {
	height: 7%;
	display: inline-block;
}

.bigname {
	transform: rotate(-28deg);
}

.vertalign {
	height: 100%;
	margin-left: 30%;
}

.icon {
	height: 30px;
	width: 30px;
}