@import "fonts";
@import "colors";

body {
	background-color: black;
	color: $white;
	text-align: center;
	padding-top: 5%;
}

.headings {
	font-family: arial, sans-serif;
}

.nav-wrapper, .page-footer {
	background-color: $transteal;
}