@import "fonts";
@import "colors";

// GLOBAL

body {
	position: relative;
	width: 100%;
	color: $darkgray;
	text-align: center;
	margin: 0;
}

.custom-back {
	width: 100%;
	background: url("/images/semuc.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -999;
}

.page-flexbox-wrapper {
	display: flex;
  min-height: 100%;
	flex-direction: column;
	background-color:rgba(255, 255, 255, 0.7);
}

main {
	height: 70vh;
	width: 70vw !important;
}

.headings {
	font-family: arial, sans-serif;
	color: $white;
}

a {
	color: $linkblue;
}

//// GLOBAL END
// FOOTER

.page-footer {
	background-color: $silver;
}

footer {
	flex-direction: row;
	align-content: space-around;
	height: 7%;
	display: absolute;

	ul li {
		display: inline-block;
		margin: 0 3%;
	}

}

//// FOOTER END
// MENU

.icon {
	height: 30px;
	width: 30px;
	margin-right: 5px;
}

.menu-icon {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-right: 5%;
}

.menu-icon:hover {
	zoom: 110%;
	box-shadow: 0 0 12px $white;
	border-radius: 100%;
}

.menu-ul {
	flex: .15 .15 auto;
	flex-direction: column;
	width: 15%;
}

.menu-container {
	position: fixed; 
	margin-left: 85%;
}

.menu-label {
	height: 100%;
	font-weight: bold;
}

//// MENU END
// TOP BIO

.bio-div {
	flex-direction: row;
	
	img {
		max-height: 125px;
    max-width: auto;
		border-radius: 100%;
		margin: 1% 2%;
	}
	
}

.bigname {
	color: $white;
	font-family: 'Permanent Marker', sans-serif;
	width: 40%;
	margin-left: -10%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: $darkestgreen;
}

//// TOP BIO END
// TECHS

.tech-container {
	flex-direction: row;
}

.tech-card img {
	height: 50px;
	width: 50px;
}