<h4>Welcome!</h4>
<div class ="welcome-text">
  <h6>Among other things, I'm an adventurer, learner, musician, and software developer.</h6> 
  <h6>According to the <a href="https://www.enneagraminstitute.com/type-descriptions/">Enneagram</a>, I'm nearly equally an Achiever, Challenger, and Reformer.</h6>
  <h6>In addition to the links to the right, please visit my <a href="https://www.linkedin.com/in/mitchellblom">LinkedIn</a> and <a href="https://www.github.com/mitchellblom">GitHub</a> to see what I've been up to!</h6>
</div>

<h4>Also...</h4>
<div class ="welcome-text">
  <h6>My cohort's demo day is Friday September 22nd.</h6>
  <h6>Come visit and let's talk though some Javascript, C#/.NET, SQL, and even Python.<h6>
  <h6>I'll also demo the the Xamarin app I'm currently writing. <a href="https://www.eventbrite.com/e/nss-demo-day-cohort-19-graduation-tickets-37065587169">RSVP here</a>, and I hope to see you there.</h6> 
  <h6>Did I mention lunch will be provided?</h6>
</div>