<h4>Welcome!</h4>
<div class ="welcome-text">
  <h6>Among other things, I'm an adventurer, learner, musician, and software developer.</h6> 
  <h6>According to the <a href="https://www.enneagraminstitute.com/type-descriptions/">Enneagram</a>, I'm type three, the <a href="https://www.enneagraminstitute.com/type-3/">Achiever</a>.</h6>
  <h6>In addition to the options to the right, please visit my <a href="https://www.linkedin.com/in/mitchellblom">LinkedIn</a> and <a href="https://www.github.com/mitchellblom">GitHub</a> to see what I've been up to!</h6>
</div>

<h4>Also...</h4>
<div class ="welcome-text">
  <h6>I am on the lookout for the next team to contribute to.</h6>
  <h6>Recently I've been writing C#/.NET, Javascript, Xamarin, SQL, and Python.<h6>
  <h6>Looking for a motivated junior dev with analytics background?</h6> 
  <h6>Contact me via the links below, and let's start a conversation!</h6>
</div>