<h4>Welcome!</h4>
<div class ="welcome-text">
  <h6>Among other things, I'm an adventurer, learner, musician, and software developer.</h6> 
  <h6>According to the <a href="https://www.enneagraminstitute.com/type-descriptions/" target="_blank">Enneagram</a>, I'm type three/wing two, the <a href="https://www.enneagraminstitute.com/type-3/" target="_blank">Achiever</a> and a Helper.</h6>
  <h6>In addition to the options to the right, please visit my <a href="https://www.linkedin.com/in/mitchellblom" target="_blank">LinkedIn</a> and <a href="https://www.github.com/mitchellblom" target="_blank">GitHub</a> to see what I've been up to.</h6>
</div>

<h4>Also...</h4>
<div class ="welcome-text">
  <h6>I'm currently a Junior Software Engineer at <a href="https://www.getbuilt.com/" target="_blank">Built Technologies</a>.</h6>
  <h6>Recently I've been writing Javascript, C#/.NET, Xamarin, SQL, and Python.<h6>
  <h6>Want to get in touch?</h6> 
  <h6>Contact me via the links below, and let's start a conversation!</h6>
</div>