<footer>
  <ul class="center transparent">
    <li><a class="valign-wrapper col s3" href="https://www.linkedin.com/in/mitchellblom" target="_blank">
      <img class="icon" src="./images/icons/linkedin-icon.png" alt="linkedin icon"/>Linkedin</a>
    </li>
    <li><a class="valign-wrapper col s3" href="https://www.github.com/mitchellblom" target="_blank">
      <img class="icon" src="./images/icons/github-icon.png" alt="github icon"/>Github</a>
    </li>
    <li><a class="valign-wrapper col s3" href="https://www.twitter.com/mitchellblom" target="_blank">
      <img class="icon" src="./images/icons/twitter-icon.png" alt="github icon"/>Twitter</a>
    </li>
  </ul>
</footer>
