<div class="bio-div valign-wrapper">
  <img class="left" src="./images/mitchell-1.png" alt="profile-pic"/>
  <h3 class="bigname centertext">Mitchell Blom</h3>
</div>
<div class="menu-container col s8 container">
  <ul class="menu-ul">
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="#!/about">
          <div class="menu-label col s8 right-align">About</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="#!/projects">
          <div class="menu-label col s8 right-align">Projects</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="#!/tech">
          <div class="menu-label col s8 right-align">Technologies</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="#!/fun">
          <div class="menu-label col s8 right-align">Fun</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
  </ul>
</div>

<!-- 
about
  bio
  stuff i like
  where i've lived
projects
  icons with previews and bios (cards?)
technologies
  icons with links
  confidence level? 
-->