<nav class="transparent z-depth-0 row">
  <div class="left-nav left">
    <ul class="right">
      <li><a class="valign-wrapper" href="https://www.linkedin.com/in/mitchell-blom-586785a6" target="_blank"><img class="icon" src="./images/linkedin-icon.png" alt="linkedin icon"/>Linkedin</a></li>
      <li><a class="valign-wrapper" href="https://www.github.com/mitchellblom" target="_blank"><img class="icon" src="./images/github-icon.png" alt="github icon"/>Github</a></li>
    </ul>
  </div>
</nav>
<div class="container valign-wrapper">
  <div class="vertalign">
    <h1 class="bigname centertext">Mitchell Blom</h1>
  </div>
</div>

<!-- <img class="sign" src="http://www.garde-korps-koeln.de/img/UnderConstruction.png" alt="under construction"/>  -->
<div class="menu-container col s8 container">
  <ul class="menu-ul">
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="/projects">
          <div class="menu-label col s4">About</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="/projects">
          <div class="menu-label col s4">Projects</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="/projects">
          <div class="menu-label col s4">Technologies</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <div class="row">
      <li>
        <a class="valign-wrapper" ng-href="/projects">
          <div class="menu-label col s4">Fun</div>
          <img class="boxshadow-png menu-icon" src="./images/tripez-thumb.png"/>
        </a>
      </li>
    </div>
    <!-- <li class="icon" ng-click="clickResumeButton()"><img class="boxshadow-png" src=""/></a></li>  --> -->
  </ul>
</div>

<!-- 
about
  bio
  stuff i like
  where i've lived
projects
  icons with previews and bios (cards?)
technologies
  icons with links
  confidence level? 
-->