<div class=row>
    <div class="project-wrapper col s12 m12 l12">
      <h4>Notable Projects</h4>
      <div class="container" ng-repeat="project in projects">
          <div class="project-card col s12 m6 l3" >
            <h5>{{project.title}}</h5>
            <img src="{{project.thumbnail}}" alt="project-image" title="{{project.name}}"/>
            <p>{{project.brief}}</p>
            <a href="{{project.url}}" target="_blank">See It Deployed</a>
            <br/>
            <a href="{{project.github}}" target="_blank">See It On Github</a>
          </div>
      </div>
    </div>
  </div>